# openAI api_base 和 api_key配置
OPENAI_API_KEY=123
OPENAI_API_BASE=http://localhost:8082/v1

# Chat模型配置
CHAT_MODEL_NAME=qwen3

# Embedding模型配置
EMBEDDING_MODEL_NAME=qwen3-embedding

# elasticsearch配置
ES_URL=http://localhost:9200
ES_URSR=xxx
ES_PWD=xxx

# tavily api_key配置
TAVILY_API_KEY=xxx

# 默认使用虚拟路径
# 后端类型 可选：local_shell, store, and sandbox
BACKEND_TYPE=store


# 是否使用copilotkit 的ag-ui 组件供前端使用
USE_COPILOTKIT=False

# 是否使用langsmith 配置
# LANGSMITH_API_KEY=...